* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
}
/* === Navbar start here ==== */
#navbar {
  position: absolute;
  width: 100%;
  top: 25px;
}
.nav_wraper {
  display: flex;
  column-gap: 550px;
  align-items: center;
}
.nav_item1 {
  display: flex;
  justify-content: space-between;
}
.nav_item {
  flex: 1;
}
.nav_item1 li a {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  color: #1d1d1f;
  padding-bottom: 5px;
  transition: color 0.2s linear;
}
.nav_three_line{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.nav_three_line_one{
  height: 2px;
  width: 17px;
  background-color: #06c167;
  margin-top: 2px;
}
.nav_item1 li a:hover {
  color: #06c167;
}

.nav_item1 li a::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  opacity: 0;
  background-color: #06c167;
  transition: all linear 0.2s;
}

.nav_item1 li a:hover::after {
  opacity: 1;
}

/* === Navbar end here ==== */

/* === banner start here ==== */
#banner {
  padding: 195px 0 131px 0;
  background-color: #f3fcf7;
  margin-bottom: 46px;
}
.banner_wrapper {
  display: flex;
}
.banner_content h1 {
  color: #1d1d1f;
  font-size: 75px;
  font-weight: 600;
  width: 533px;
  line-height: normal;
  margin-bottom: 11px;
}
.banner_content p {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  width: 533px;
}

.banner_content a {
  padding: 25px 30px 25px 30px;
  background-color: #06c167;
  margin-top: 30px;
  display: inline-block;
}
.banner_content a img {
  height: 11px;
  width: 22px;
}
.banner_content a span {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin-right: 27px;
}
.banner_image_inner {
  position: relative;
}
.banner_image_inner .bannerimg {
  position: absolute;
  left: 127px;
  top: -48px;
  z-index: 0;
  height: 634px;
  width: 468px;
}
.banner_image_inner .review_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 230px;
  padding: 18px 20px 18px 20px;
  border-radius: 50px;
  background: #ffffff;
}
.review_main {
  position: absolute;
  top: 246px;
  left: 35px;
  z-index: 1;
}
.review_main_two {
  position: absolute;
  top: 155px;
  left: 407px;
  z-index: 1;
}
.review_main span {
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  color: #1d1d1f;
}
.banner_image_inner .review_main .star {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.review_main_two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 230px;
  padding: 7px 20px 7px 7px;
  border-radius: 50px;
  background: #ffffff;
}
.review_main_two span {
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  color: #1d1d1f;
}

/* === banner end here ==== */

/* === brand start here ==== */
#brand {
  margin-bottom: 175px;
  position: relative;
}
.brand_item {
  display: flex;
  justify-content: space-between;
}
.brand_image {
  display: flex;
  column-gap: 58px;
}
.dot_image {
  z-index: 999;
  display: inline-block;
  position: relative;
  top: -85px;
}
#brand::after {
  content: '';
  height: 2px;
  width: 1170px;
  background-color: #707070;
  position: absolute;
  top: 396px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.2;
}
#brand::after {
  content: '';
  height: 2px;
  width: 1170px;
  background-color: #707070;
  position: absolute;
  top: 211px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.2;
}
/* === brand end here ==== */

/* === service start here ==== */
#service {
  margin-bottom: 190px;
}
.service_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.service_item::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 1170px;
  background: #707070;
  bottom: -57px;
  left: 0;
  opacity: 15%;
}
.service_item_one {
  display: flex;
  column-gap: 22px;
  align-items: center;
}
.service_item_content p {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: #1d1d1f;
}
.service_item_content strong {
  margin-top: 7px;
  font-size: 14px;
  font-weight: 500;
  color: #1d1d1f;
  opacity: 75%;
}

/* === service end here ==== */

/* === Benefit start here ==== */
#Benefit {
  margin-bottom: 183px;
}
.Benefit_wrapper {
  display: flex;
  column-gap: 84px;
  align-items: center;
}
.Benefit_two strong {
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
}
.Benefit_two h3 {
  font-size: 60px;
  font-weight: 500;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 67px;
  position: relative;
}
.Benefit_two h3 img {
  position: absolute;
  top: 12px;
  left: -52px;
  z-index: -1;
}
.Benefit_two_item_icon img {
  width: 26px;
  height: 19.39px;
}
.Benefit_two_item {
  display: flex;
  align-items: center;
  column-gap: 22px;
}
.Benefit_two_item p {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #1d1d1f;
}
.Benefit_two_item_main {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

/* === Benefit end here ==== */

/* === Stars start here ==== */
.stars_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stars_content strong {
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  color: #1d1d1f;
}
.stars_content h3 {
  margin-top: 20px;
  margin-bottom: 55px;
  font-size: 60px;
  font-weight: 500;
  line-height: normal;
  color: #1d1d1f;
  width: 570px;
  position: relative;
}
.stars_content h3 img {
  position: absolute;
  top: 3px;
  left: -69px;
  z-index: -1;
}
.stars_items {
  display: flex;
  column-gap: 82px;
  margin-bottom: 51px;
}
.stars_item {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  align-items: center;
}
.stars_item strong {
  font-size: 40px;
  font-weight: 600;
  color: #06c167;
}
.stars_btn {
  padding: 30px 27px 30px 27px;
  background: #06c167;
  display: flex;
  align-items: center;
  max-width: 233px;
}
.stars_btn p {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin-right: 15px;
}
/* === Stars end here ==== */

/* === Features start here ==== */
#Features {
  margin-top: 197px;
  text-align: center;
  margin-bottom: 192px;
}
.Features_content p {
  font-size: 15px;
  font-weight: 500;
  color: #1d1d1f;
  margin-bottom: 20px;
}
.Features_content h3 {
  font-size: 60px;
  font-weight: 500;
  color: #1d1d1f;
  margin-bottom: 70px;
}

.food-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 292.5px;
}

.card {
  border: 1px solid #b6eec4;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  transition: 0.3s;
}

.image-card {
  background-color: #ddd;
}

.text-card {
  border: 1px solid #06c167;
  background-color: #f3fcf7;
  flex-direction: column;
  text-align: left;
  padding: 37px 0 34px 37px;
  transition: 0.3s;
}

.text-card h4 {
  font-size: 32px;
  font-weight: 500;
  color: #1d1d1f;
  line-height: normal;
  margin-bottom: 25px;
}

.text-card p {
  font-size: 16px;
  font-weight: 400;
  color: #1d1d1f;
  margin-bottom: 38px;
  max-width: 214px;
  line-height: normal;
}

.text-card a {
  background-color: #e6f9f0;
  color: #06c167;
  padding: 8px 14px;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.3s;
}

.text-card a span {
  margin-left: 8px;
}

.text-card a:hover {
  background-color: #baf5d5;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.text-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* @media (max-width: 992px) {
  .food-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .food-grid {
    grid-template-columns: 1fr;
  }
} */

/* === Features end here ==== */

/* === Product start here ==== */
#Product {
  margin-bottom: 193px;
}
.Product_content p {
  font-size: 15px;
  font-weight: 500;
  color: #1d1d1f;
  margin-bottom: 20px;
}

.Product_content h3 {
  font-size: 60px;
  font-weight: 500;
  color: #1d1d1f;
  margin-bottom: 63px;
}
.Product_item_main {
  display: flex;
  justify-content: space-between;
}
.Product_item:hover{
  border: 2px solid #06C167;
}
.Product_item {
  border: 2px solid rgb(220, 220, 220);
  display: inline-block;
  padding: 25px 40px 30px 40px;
  transition: all linear .2s;
}
.Product_item_img {
  margin-bottom: 5px;
}
.Product_item_star {
  display: flex;
  column-gap: 5px;
  justify-content: center;
}
.Product_item p {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  color: #1d1d1f;
  margin-bottom: 25px;
  margin-top: 21px;
  text-align: center;
}
.Product_item_pricing {
  display: flex;
  column-gap: 8px;
  justify-content: center;
  margin-bottom: 29px;
}
.Product_item_pricing .delete {
  font-size: 20px;
  line-height: normal;
  font-weight: 600;
  color: #767675;
  opacity: 35%;
}
.Product_item_pricing .price {
  font-size: 20px;
  line-height: normal;
  font-weight: 400;
  color: #06c167;
}
.Product_item_button {
  padding: 18px 27px 20px 28px;
  font-size: 18px;
  font-weight: 400;
  color: #06c167;
  border: 2px solid #06c167;
}

.Product_item_button img {
  margin-left: 31px;
}
/* === Product end here ==== */

/* === order start here ==== */
#order {
  margin-bottom: 64px;
}
.order_bg {
  background: url(./image/order_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 110px;
  padding-bottom: 87px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order_bg h3 {
  font-size: 60px;
  font-weight: 600;
  line-height: normal;
  color: #ffff;
  max-width: 799px;
  margin-bottom: 37px;
  text-align: center;
}
.order_bg a {
  padding: 30px 37px;
  background-color: #06c167;
  margin-top: 30px;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.order_bg a img{
  margin-left: 23px;
}

/* === order end here ==== */

/* === footer start here ==== */
footer{
  margin-top: 76px;
}
.footer_main{
  display: flex;
  justify-content: space-between;
  margin-bottom: 91px;
}
.footer_last{
  display: flex;
  column-gap: 90px;
}
.footer_one_logo{
  height: 39px;
  width: 120px;
  margin-bottom: 41px;
}
.footer_one_logo img{
  object-fit: cover;
}
.footer_one p{
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color:#1D1D1F;
  margin-bottom: 50px;
  max-width: 284px;
}
.footer_one_media_icon{
  display: flex;
  column-gap: 25px;
}
.footer_two strong{
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  color:#1D1D1F;
}
.footer_two ul{
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-top: 41px;
}
.footer_two ul li{
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color:#1D1D1F;
}
.footer_four strong{
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  color:#1D1D1F;
}
.footer_four p{
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color:#1D1D1F;
  margin-bottom: 50px;
  max-width: 302px;
  margin-top: 41px;
  margin-bottom: 37px;
}
.subscrib input{
  padding: 17px 145px 17px 24px;
  border: none;
  background-color: #F0F1EC;
  cursor: pointer;
  margin-right: 15px;
}
.subscrib input::placeholder{
  color:#1D1D1F;
  opacity: 51%;
  font-size: 14px;
  font-weight: 400;
}
.subscrib a{
  padding: 16px 25px;
  background: #06C167;
  font-size: 14px;
  font-weight: 500;
  color:#FFFFFF;
}
.copyright{
  font-size: 16px;
  font-weight: 400;
  color: #1D1D1F;
  text-align: center;
  margin-bottom: 38px;
}
/* === footer end here ==== */
